[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
[submodule "public"]
	path = public
	url = git@github.com:kazooiebombchu/kazooiebombchu.github.io.git
	branch = master
